page-generate-document {
h3{
    text-align: center;
}
.declarationParagraph{
    color:black;
    font-size:0.7em;
    padding:10px;
    text-align: justify;
    text-justify: inter-word;
    // margin-top:-10px;
}

.sign{
    text-align: center; 
    font-size: 0.6em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top:-20px;
    color:#a88d30;
}
b{
    color:#a88d30
}

}
