page-contact {
    .content{
        border:1.5px solid #a88d30;
    }
    h1{
        text-align: center;
        margin-top:150px;
    }
    h4{
        text-align: center;
        color:#a88d30;
        margin-top:50px;
    }
    .body{
        text-align: center;
    }
    .body2{
        text-align: center;
        color:#a88d30;
    }
    .errorTitle{
        text-align: center;
        text-justify: inter-word;
        margin-top:250px;
        padding:20px;
        // color:#a88d30;
    
    }
  
}
